@CHARSET "UTF-8";

div .cells 
{
	position: absolute;
	border: solid;
	width: 100px;
	height: 100px;
}

#A1
{
	left: 10px;
	top: 10px;
}

#B1
{
	left: 120px;
	top: 10px;
}

#C1
{
	left: 230px;
	top: 10px;
}

#A2
{
	left: 10px;
	top: 120px;
}

#B2
{
	left: 120px;
	top: 120px;
}

#C2
{
	left: 230px;
	top: 120px;
}

#A3
{
	left: 10px;
	top: 230px;
}

#B3
{
	left: 120px;
	top: 230px;
}

#C3
{
	left: 230px;
	top: 230px;
}
